body {
    text-align: center;
    color: white;
}

.header {
    font-size: 32px;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    font-family: Trebuchet MS, sans-serif;
    background-color: rgba(48, 230, 115, 0.596);
    padding: 20px;
    margin: 20px;
    position: relative;
    display: inline-block;
    border-radius: 25px;
    width: 80%;
    height: 100%;
}

.gitlablogo{
    flex-direction: row;
    padding: 100px;
    margin-left: -100px;
}

.githublogo {
    flex-direction: row;
    padding: 100px;
}

.projectlist{
    margin-left: 19%;
    width: 60%;
    height: 100%;
}

